@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap");

/* Estilo para todo o corpo do site */
body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  background-color: rgb(245, 245, 245) !important;
}

/* Estilo para os títulos (H1, H2, H3, etc.) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  color: #1a1a1a;
}

/* Exemplo de uso para um H1 específico */
h1 {
  font-size: 2.5rem;
}

/* Exemplo de uso para um H2 específico */
h2 {
  font-size: 1.8rem;
}

.bg-company-yellow {
  background-color: #fcce0b !important;
}
.bg-company-dark {
  background-color: #262626 !important;
}
.color-company-yellow {
  color: #fcce0b !important;
}
.color-company-dark {
  color: #262626 !important;
}

.form-control:focus {
  border-color: #212529 !important; /* cor dark */
  box-shadow: 0 0 0 0.1rem rgba(33, 37, 41, 0.25) !important; /* sombra escura */
}

.product-list,
.product-item {
  user-select: none;
  -webkit-user-drag: none;
}

.area-btn-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 70px;
  height: 70px;
   
}

.btn-whatsapp {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-whatsapp svg {
  width: 1.4em;
  height: 1.4em;
  color: #ffffff !important;
}

.btn-whatsapp-back {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
}
.pulse {
  animation: pulse 1.8s infinite;
}
ul,
ol {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.hidden-lg {
  display: block;
}

.header-lg {
  display: none !important;
}
.hidden-mobile {
  display: none !important;
}

.banner-ant-footer {
  width: 100%;
  height: 150px;
}
/* Mobile: até 600px */
@media (max-width: 600px) {
  header {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #ffffff;
  }
  header nav .nav-list .nav-item {
    list-style: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon svg {
    width: 1.4em;
    height: 1.4em;
    color: #262626 !important;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100%;
  }

  .search-form {
    display: flex;
  }
  .search-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
  }
  .search-button svg {
    width: 1.2em !important;
    height: 1.2em !important;
    color: black !important;
  }
  .carousel-item {
    height: 450px; /* Define a altura fixa do item do carrossel */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Isso esconde o que passa do contêiner */
  }

  .carousel-item .banner-img {
    width: auto;
    height: 100%;
    object-fit: cover; /* A imagem irá preencher todo o espaço e ser cortada se necessário */
  }
  .categories {
    display: flex;
    justify-content: center; /* centraliza os itens */
    align-items: center;
    gap: 10px; /* espaço entre os itens */
    flex-wrap: wrap; /* permite quebrar linha se necessário */
  }

  .categories .item-category {
    flex: 1 1 100px; /* cresce, encolhe, base 100px */

    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }
  .icon-category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 179, 179);
    overflow: hidden;
    cursor: pointer;
  }
  .legend {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
  }

  .icon-category img {
    width: 100%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
  }

  .featured-products-title,
  .environment-carousel-title,
  .footer-title {
    text-align: center;
  }
  .product-list {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
  }

  .product-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge moderno */
  }

  .area-thumb-item-product {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .area-thumb-item-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-caption {
    color: #000;
    height: 60px;
    font-size: 0.8em;
    overflow: hidden;
  }

  .product-item {
    flex: 0 0 calc(50% - 10px); /* sempre 2 itens por vez */
    scroll-snap-align: start; /* opcional: ajuda no snap */
    min-height: 200px;
    max-height: max-content;
    background-color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .product-item a {
    text-decoration: none;
    font-weight: 500;
  }
  .area-price-whats {
    width: 100%;
    display: flex;
  }
  .icon-whats-price svg {
    color: #25d366 !important;
    width: 50px;
  }
  .old-price {
    font-size: 0.8em;
    color: gray;
    text-decoration: line-through;
  }
  .btn-buy {
    width: 100% !important;
  }
  .description-parcel {
    line-height: 2px; /* mais agressivo */
  }
  .environment-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
    height: 315px;
  }
  .environment-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px !important;
    height: 300px !important;
    font-weight: 500 !important;

    flex: 0 0 calc(80% - 10px); /* sempre 2 itens por vez */
    scroll-snap-align: start; /* opcional: ajuda no snap */
  }
  .environment-link {
    width: 100% !important;
    height: 220px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .environment-link img {
    width: 200%;
    height: 100%;
    object-fit: contain;
  }
  .line-overfooter {
    width: 100%;
    height: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .figure-logo-footer {
    margin: 0 auto;
  }
  .footer-list {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-list li a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  .form-input {
    margin-bottom: 5px;
  }
  .form-button-footer,
  .btn-order-footer {
    width: 100%;
    font-weight: bold !important;
    color: #000 !important;
  }
  .footer-address a {
    text-decoration: none !important;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social-link svg {
    color: #ffffff !important;
  }
  .footer-legal {
    text-align: center;
  }
  .footer-legal a {
    text-align: center;
    color: #cbcbcb !important;
  }
  .footer-legal a:hover {
    text-align: center;
    color: #ffffff !important;
  }

  .area-img-bth {
    width: 100%;
    background-color: #ffffff;
  }
  .area-img-bth img {
    width: 100%;
    height: auto; /* mantém proporção da imagem */
    object-fit: contain;
  }
  .text-home-brothers {
    display: block;
    text-align: justify !important;
    background-color: #fff !important;
  }
  .product-article {
    margin-bottom: 10px;
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
    cursor: grab;
    margin-top: 20px;
  }

  .carousel-track {
    display: flex;
    gap: 20px;
  }

  .brand {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
  }
  .brand img {
    width: 100%;
    object-fit: cover;
  }
  .carrossel-mobile-off {
    width: 100%;
    height: 200px;
  }

  #carousel-texts {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* smooth em mobile */
    cursor: grab;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Esconder a barra de rolagem */
    scrollbar-width: none; /* Firefox */
  }

  #carousel-texts::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

  #carousel-texts .text-home-brothers {
    flex: 0 0 100%; /* ocupa exatamente 100% do container */
    scroll-snap-align: start;
    display: block;
    text-align: justify;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f8f8f8;
    margin: 0; /* remove gap que poderia mostrar parte do próximo */
    box-sizing: border-box; /* padding e border dentro do width */
  }

  .area-img-bth img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 0.4s ease-in-out; /* efeito fade */
    opacity: 1;
  }
  .area-img-bth img.fade-out {
    opacity: 0;
  }
}

/* Tablet: 601px até 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  /* HEADER */
  header {
    width: 100% !important;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #ffffff;
  }
  header nav .nav-list .nav-item {
    list-style: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon svg {
    width: 1.4em;
    height: 1.4em;
    color: #262626 !important;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100%;
  }

  .search-form {
    display: flex;
  }
  .search-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none !important;
  }
  .search-button svg {
    width: 1.2em !important;
    height: 1.2em !important;
    color: black !important;
  }
  /* CARROSSEL */
  .carousel-item-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px !important;
    color: white;
  }
  /* CATEGORIES */
  .categories {
    display: flex;
    justify-content: center; /* centraliza os itens */
    align-items: center;
    gap: 10px; /* espaço entre os itens */
    flex-wrap: wrap; /* permite quebrar linha se necessário */
  }

  .categories .item-category {
    flex: 0 0 calc(33.333% - 10px); /* sempre 3 itens por vez */
    max-width: calc(33.333% - 10px);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }

  .legend {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
  }

  .icon-category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 179, 179);
    overflow: hidden;
    cursor: pointer;
  }
  .icon-category img {
    width: 70%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
  }

  .featured-products-title,
  .environment-carousel-title,
  .footer-title {
    text-align: center;
  }
  /* FOOTER */

  .line-overfooter {
    width: 100%;
    height: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .figure-logo-footer {
    margin: 0 auto;
  }
  .footer-list {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-list li a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  .form-input {
    margin-bottom: 5px;
  }
  .form-button-footer,
  .btn-order-footer {
    width: 100%;
    font-weight: bold !important;
    color: #000 !important;
  }
  .footer-address a {
    text-decoration: none !important;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social-link svg {
    color: #ffffff !important;
  }
  .footer-legal {
    text-align: center;
  }
  .footer-legal a {
    text-align: center;
    color: #cbcbcb !important;
  }
  .footer-legal a:hover {
    text-align: center;
    color: #ffffff !important;
  }
  .featured-products-title,
  .environment-carousel-title,
  .footer-title {
    text-align: center;
  }
  /* PRODUCT */
  .product-list {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
  }

  .product-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge moderno */
  }

  .area-thumb-item-product {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .area-thumb-item-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-caption {
    color: #000;
    height: 60px;
    font-size: 0.8em;
    overflow: hidden;
  }

  .product-item {
    flex: 0 0 calc(33.333% - 10px) !important; /* sempre 3 itens por vez */
    scroll-snap-align: start;
    min-height: 200px;
    max-height: max-content;
    background-color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }

  .product-item a {
    text-decoration: none;
    font-weight: 500;
  }
  .area-price-whats {
    width: 100%;
    display: flex;
  }
  .icon-whats-price svg {
    color: #25d366 !important;
    width: 50px;
  }
  .old-price {
    font-size: 0.8em;
    color: gray;
    text-decoration: line-through;
  }
  .btn-buy {
    width: 100% !important;
  }
  .description-parcel {
    line-height: 2px; /* mais agressivo */
  }

  .environment-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
    height: 400px !important;
  }
  .environment-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px !important;
    height: 370px !important;
    font-weight: 500 !important;

    flex: 0 0 calc(80% - 10px); /* sempre 2 itens por vez */
    scroll-snap-align: start; /* opcional: ajuda no snap */
  }
  .environment-link {
    width: 100% !important;
    height: 260px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .environment-link img {
    width: 200%;
    height: 100%;
    object-fit: cover;
  }
  .line-overfooter {
    width: 100%;
    height: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .figure-logo-footer {
    margin: 0 auto;
  }
  .footer-list {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-list li a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  .form-input {
    margin-bottom: 5px;
  }
  .form-button-footer,
  .btn-order-footer {
    width: 100%;
    font-weight: bold !important;
    color: #000 !important;
  }
  .footer-address a {
    text-decoration: none !important;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social-link svg {
    color: #ffffff !important;
  }
  .footer-legal {
    text-align: center;
  }
  .footer-legal a {
    text-align: center;
    color: #cbcbcb !important;
  }
  .footer-legal a:hover {
    text-align: center;
    color: #ffffff !important;
  }

  .area-img-bth {
    width: 100%;
    background-color: #ffffff;
  }
  .area-img-bth img {
    width: 100%;
    height: auto; /* mantém proporção da imagem */
    object-fit: contain;
  }
  .text-home-brothers {
    display: block;
    text-align: justify !important;
    background-color: #fff !important;
  }
  .product-article {
    margin-bottom: 10px;
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
    cursor: grab;
    margin-top: 20px;
  }

  .carousel-track {
    display: flex;
    gap: 20px;
  }

  .brand {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
  }
  .brand img {
    width: 100%;
    object-fit: cover;
  }
  .carrossel-mobile-off {
    width: 100%;
    height: 200px;
  }

  #carousel-texts {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* smooth em mobile */
    cursor: grab;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Esconder a barra de rolagem */
    scrollbar-width: none; /* Firefox */
  }

  #carousel-texts::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

  #carousel-texts .text-home-brothers {
    flex: 0 0 100%; /* ocupa exatamente 100% do container */
    scroll-snap-align: start;
    display: block;
    text-align: justify;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f8f8f8;
    margin: 0; /* remove gap que poderia mostrar parte do próximo */
    box-sizing: border-box; /* padding e border dentro do width */
  }

  .area-img-bth img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 0.4s ease-in-out; /* efeito fade */
    opacity: 1;
  }
  .area-img-bth img.fade-out {
    opacity: 0;
  }
}

/* Desktop: acima de 1024px */
@media (min-width: 1025px) {
  /* HEADER */
  .hidden-lg {
    display: none !important;
  }
  .header-lg {
    display: block !important;
  }
  .hidden-mobile {
    display: block !important;
  }

  .area-logo-lg {
    width: 160px;
    overflow: hidden;
  }
  .area-logo-lg img {
    width: 100%;
    object-fit: contain;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon svg {
    width: 1.4em;
    height: 1.4em;
    color: #262626 !important;
  }

  .nav-item-lg {
    margin-left: 3% !important;
  }
  /* CARROSSEL */
  .carousel-item-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px !important;
    color: white;
  }
  /* CATEGORIES */
  .categories {
    display: flex;
    justify-content: center; /* centraliza os itens */
    align-items: center;
    gap: 10px; /* espaço entre os itens */
    flex-wrap: wrap; /* permite quebrar linha se necessário */
    width: 85% !important;
  }

  .categories .item-category {
    /* Calcula a largura para 6 itens + o espaçamento */
    flex: 0 0 calc(16.666% - 10px);
    max-width: calc(15.666% - 10px);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
    border-radius: 10px;
  }

  .icon-category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 179, 179);
    overflow: hidden;
    cursor: pointer;
  }
  .icon-category img {
    width: 70%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
  }

  .legend {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  .icon-category:hover + .legend {
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-10px) !important;
  }
  .featured-products-title,
  .environment-carousel-title,
  .footer-title {
    text-align: center;
  }
  /* FOOTER */

  .line-overfooter {
    width: 100%;
    height: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .figure-logo-footer {
    margin: 0 auto;
  }
  .footer-list {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-list li a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  .form-input {
    margin-bottom: 5px;
  }
  .form-button-footer,
  .btn-order-footer {
    width: 100%;
    font-weight: bold !important;
    color: #000 !important;
  }
  .footer-address a {
    text-decoration: none !important;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
  }
  .footer-social-link svg {
    color: #ffffff !important;
  }
  .footer-legal {
    text-align: center;
  }
  .footer-legal a {
    text-align: center;
    color: #cbcbcb !important;
  }
  .footer-legal a:hover {
    text-align: center;
    color: #ffffff !important;
  }
  .featured-products-title,
  .environment-carousel-title,
  .footer-title {
    text-align: center;
  }
  /* PRODUCT */
  .product-list {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
  }

  .product-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge moderno */
  }

  .area-thumb-item-product {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .area-thumb-item-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-caption {
    color: #000;
    height: 60px;
    font-size: 1em !important;
    overflow: hidden;
  }

  .product-item {
    flex: 0 0 calc(25% - 10px) !important; /* sempre 4 itens por vez */
    scroll-snap-align: start;
    min-height: 200px;
    max-height: max-content;
    background-color: #ffffff;
    padding: 15px !important;
    text-decoration: none;
  }

  .product-item a {
    text-decoration: none;
    font-weight: 500;
  }
  .area-price-whats {
    width: 100%;
    display: flex;
  }
  .icon-whats-price svg {
    color: #25d366 !important;
    width: 50px;
  }
  .old-price {
    font-size: 0.8em;
    color: gray;
    text-decoration: line-through;
  }
  .btn-buy {
    width: 100% !important;
  }
  .description-parcel {
    line-height: 2px; /* mais agressivo */
  }

  .environment-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll; /* mantém o scroll horizontal */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE e Edge antigo */
    scrollbar-width: none; /* Firefox */
    height: 400px !important;
  }
  .environment-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px !important;
    height: max-content !important;
    font-weight: 500 !important;
    /* Calcula a largura para 4 itens + o espaçamento */
    flex: 0 0 calc(25% - 10px);
    scroll-snap-align: start;
  }

  .environment-link {
    width: 100% !important;
    height: 260px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  .environment-link img {
    width: 200%;
    height: 100%;
    object-fit: cover;
  }
  .line-overfooter {
    width: 100%;
    height: 5px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .figure-logo-footer {
    margin: 0 auto;
  }
  .footer-list {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-list li a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  .form-input {
    margin-bottom: 5px;
  }
  .form-button-footer,
  .btn-order-footer {
    width: 100%;
    font-weight: bold !important;
    color: #000 !important;
  }
  .footer-address a {
    text-decoration: none !important;
    color: #ffffff;
    font-weight: bold;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social-link svg {
    color: #ffffff !important;
  }
  .footer-legal {
    text-align: center;
  }
  .footer-legal a {
    text-align: center;
    color: #cbcbcb !important;
  }
  .footer-legal a:hover {
    text-align: center;
    color: #ffffff !important;
  }

  .area-img-bth {
    width: 100%;
    background-color: #ffffff;
  }
  .area-img-bth img {
    width: 100%;
    height: auto; /* mantém proporção da imagem */
    object-fit: contain;
  }
  .text-home-brothers {
    display: block;
    text-align: justify !important;
    background-color: #fff !important;
  }
  .product-article {
    margin-bottom: 10px;
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
    cursor: grab;
    margin-top: 20px;
  }

  .carousel-track {
    display: flex;
    gap: 40px;
    padding: 10px;
  }

  .brand {
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }
  .brand img {
    width: 100%;
    object-fit: cover;
  }
  .carrossel-mobile-off {
    width: 100%;
    height: 200px;
  }

  #carousel-texts {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* smooth em mobile */
    cursor: grab;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Esconder a barra de rolagem */
    scrollbar-width: none; /* Firefox */
  }

  #carousel-texts::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

  #carousel-texts .text-home-brothers {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    background-color: transparent !important;
  }

  .area-img-bth img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 0.4s ease-in-out; /* efeito fade */
    opacity: 1;
  }
  .area-img-bth img.fade-out {
    opacity: 0;
  }

  .area-menus-nav-lg {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    border: 1px solid black;
  }

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .product-list {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden; /* esconde barra */
  }

  .product-item {
    flex: 0 0 calc(20% - 10px); /* 5 itens por vez */
    scroll-snap-align: start;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    user-select: none !important;
  }
  img {
    user-select: none !important; /* impede seleção de texto e imagem */
    -webkit-user-drag: none !important; /* Chrome/Safari */
    -khtml-user-drag: none !important;
    -moz-user-drag: none !important; /* Firefox */
    -o-user-drag: none !important;
    user-drag: none !important;
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.5;
    transition: 0.3s;
  }

  .carousel-arrow:hover {
    opacity: 0.8;
  }

  .carousel-arrow.left {
    left: 5px;
  }

  .carousel-arrow.right {
    right: 5px;
  }
  .banner-ant-footer {
    width: 100%;
    height: 200px !important;
  }

  /* Seção principal */
  .institucional {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
  }

  /* Contêiner interno para o conteúdo */
  .institucional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
  }

  /* Área de texto */
  .institucional-text {
    text-align: center;
    max-width: 700px;
  }

  .institucional-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }

  .institucional-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }

  .institucional-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    background-color: transparent !important;
  }

  /* Botão */
  .institucional-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #484848;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }

  .institucional-button:hover {
    background-color: #e7bd03;
  }

  /* Galeria de fotos */
  .institucional-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
  }

  .institucional-photo-wrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .institucional-photo-wrapper:hover {
    transform: scale(1.02);
  }

  .institucional-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  .institucional-photo {
    transition: opacity 0.1s ease-in-out;
  }

  .carousel-item-home {
    height: 500px; /* Define a altura fixa do item do carrossel */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Isso esconde o que passa do contêiner */
  }
  .carousel-item-home .banner-img {
    width: 800px; /* Largura fixa */
    height: 500px; /* Altura fixa */
    object-fit: cover;
  }
}

/* Responsividade */
@media (min-width: 768px) {
  .institucional-content {
    flex-direction: row;
    gap: 80px;
  }
  .institucional-text {
    text-align: left;
    max-width: 50%;
  }
  .institucional-title,
  .institucional-subtitle,
  .institucional-description {
    margin-left: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
  }

  100% {
    transition: 0.2s;
    opacity: 0;
    transform: scale(1.5);
    transition: 0.2s;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
  }
}

.carousel-item-footer {
  height: 170px !important;
  width: 100% !important;
}

.carousel-item-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #232323;
  color: white !important;
  z-index: 9999;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8 !important;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.cookie-banner:hover {
  opacity: 1 !important;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.cookie-banner a {
  color: white !important;
  text-decoration: underline;
  font-weight: 500;
}

.cookie-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Botão Rejeitar */
.btn-reject {
  background-color: transparent;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 50px;
  padding: 5px 20px;
  font-weight: 500;
}

.btn-reject:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Botão Aceitar */
.btn-accept {
  background-color: white !important;
  color: #1c1c1c !important;
  border-radius: 50px;
  padding: 5px 20px;
  font-weight: 600;
  border: none;
}

.btn-accept:hover {
  background-color: #f1f1f1;
}

 

/* Estilo para o botão "Voltar ao Topo" */
#back-to-top-btn {
  display: none; /* Inicia escondido */
  position: fixed;
  bottom: 15%;
  right: 2.7%;
  z-index: 999; /* Garante que fique acima de outros elementos */
  font-size: 24px;
  font-weight: bold;
  background-color: #3a3a3a; /* Cor de fundo escura */
  color: #fff;
  border: none;
  border-radius: 10px; /* Forma redonda */
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
 
}

#back-to-top-btn svg{
  transform: scale(2) !important;
  opacity: .5;
}

#back-to-top-btn:hover {
  opacity: 0.8;
}
